#first {
    
    color: $color_2;
    text-shadow: #1a1a1a;
    background-image: url(../Imagenes/FondoVioleta.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 64px 20px;
    grid-area: first;
}