$color_1: rgb(102, 7, 190);
$color_2: #f4f1f1;
$color_3: #fff;
$background-color_1: rgb(200, 148, 249);
$background-color_2: rgb(204, 157, 249);
$background-color_3: #1a1a1a;
$background-color_4: rgb(239, 228, 248) ;