@import 'variables';
@import 'header';
@import 'nav';
@import 'first-sectio';
@import 'contact';
@import'aside';
@import 'footer';
* {
	font-family: "Poppins", sans-serif;
	margin: 0;
	padding: 0;
}
h1 {
	font-size: 50px;
}
h2 {
	font-size: 32px;
}
h3 {
	font-size: 28px;
}
h4 {
	font-size: 24px;
}
h5 {
	font-size: 18px;
}
p {
	font-size: 15px;
}
.container-space {
	padding: 64px 20px;
}
#body {
	display: grid;
	grid-template-areas: "header" "first" "contact" "aside" "footer";
}
@media (min-width: 600px) {
	#body {
		grid-template-areas: "header header" "first first" "contact aside" "footer footer";
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto;
	}
	#nav {
		grid-template-columns: 0.5fr 0.7fr;
		grid-template-rows: auto;
	}
	#footer {
		justify-content: space-around;
		display: flex;
		align-items: center;
	}
}

